* {
	color: white;
	font-family: 'Space Mono', monospace;
	font-size: 24px;
}

main {
	align-items: center;
	border: 6px double white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 12px auto;
	max-width: 1400px;
	min-height: calc(100vh - 24px);
	padding: 12px;

	.history {
		align-self: flex-start;
		margin: 0;
		padding: 0;
		word-wrap: break-word;
	}

	.prompt {
		align-self: flex-start;

		& .privilege-indicator {
			display: inline-block;
		}

		& .cursor {
			background: white;
			content: '';
			display: inline-block;
			height: 26px;
			position: relative;
			top: 4px;
			width: 8px;

			&.blinking {
				animation: cursor-blink 1.25s steps(2) infinite;
			}
		}
	}
}

@keyframes cursor-blink {
	0% {
		visibility: hidden;
	}
}
